{% extends "Nav.html" %}
{% load static %}
<!--https://reintech.io/blog/creating-a-custom-user-management-system-in-django-->
{% block content %}

    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    
<br><br>
<table border="2">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Username</th>
            <th>E-Mail</th>
            <th>Name</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th colspan='6'>
                <a class='button' href="{% url 'register' %}">Add Auditors</a>
            </th>
        </tr>
    </tfoot>
    {% for user in users %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td> {{user.username}} </td>
        <td> {{user.email}} </td>
        <td> {{user.first_name}} {{user.last_name}}</td>
        <td> {{user.is_superuser}} </td>
        <td class='select'> 
            <a class='button' href="{% url 'edit_user' username=user.username %}"> Edit User</a>
            <a class='button' href="{% url 'delete_user' username=user.username %}" onclick="return confirm('Are You Sure to delete {{user.username}}')"> Delete User</a>
            <a class='button' href="{% url 'update_admin' username=user.username %}" onclick="return confirm('Change Admin for {{user}}')"> Change Admin Status</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}
