{% extends "Nav.html" %}
{% load static %}

{% block content %}
<h1 class="title1">Dashboard</h1><br><br>
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{#    <div class="container ">#}
        <table border="2">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Audit Name</th>
                    <th>Description</th>
                    <th>Auditor name</th>
                    <th>Auditee Dept</th>
                    <th>Audit Schedule</th>
                    <th>Status</th>
                    <th>Completion</th>
                </tr>
            </thead>
            <tr>
                <td>1</td>
                <td>CL Bus Usage</td>
                <td>HMIL bus unauthorised usage by CL employees</td>
                <td>Vishnu B</td>
                <td>Business Support</td>
                <td WIDTH="22%">
                    <li><b>Planing</b> : 12.12.12</li>
                    <li><b>Analysis</b> : 12.12.12</li>
                    <li><b>Auditee Preview</b> : 12.12.12</li>
                    <li><b>MD Approval</b> : 12.12.12</li>
                </td>
                <td>Analysis</td>
                <td WIDTH="7%">70%</td>
            </tr>
        </table>
{#    </div>#}

{% endblock content %}
