{% extends "Nav.html" %}
{% load static %}

{% block content %}
    
<h1 class="title1">Red Flag</h1>
    <br><br>
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{#    <div class="container ">#}
        <table border="2">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>In-Charge</th>
                    <th>Created on</th>
                    <th>Lastrun</th>
                </tr>
            </thead>
            {% if request.user.is_superuser %}
                <tfoot>
                    <tr>
                        <th colspan='8'>
                            <a class='button' href="{% url 'add_redflag' %}">Add Red Flag</a>
                        </th>
                    </tr>
                </tfoot>
            {% endif %}
            {% for flag in flags %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ flag.name }}</td>
                    <td>{{ flag.description }}</td>
                    <td>{{ flag.assigned_to }}</td>
                    <td>{{ flag.created_at }}</td>
                    <td>{{ flag.lastrun }}</td>
                    <td class='select'>
                        {% if flag.manual %}
                            <a class='button' href="{% url 'download_manual' flag=flag.id %}"> Manual </a>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <a class='button' href="{% url 'edit_rf' flag=flag.id %}"> Edit </a>
                            <a class='button' href="{% url 'delete_rf' flag=flag.id %}" onclick="return confirm('Are You Sure to delete {{ flag.name }}')"> Delete </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{#    </div>#}

{% endblock content %}
