*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #002c5f;
}

nav .nav-content{
  height: 100%;
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
nav .logo{
  align-items: center;
  justify-content: center;
}
*/

nav .logo{
     display: flex;
     margin: 0 8px;
}

nav .logo a{
  text-decoration: none;
  align-self: center;
  font-weight: 600;
  font-size: 18px;
  padding: 0px 10px;
  color: #fff;
}

nav .logo img {
    align-self: center;
    height: 20px;
    width: auto;
    /*
    width: 100%;
    margin-top: 8px;
    margin-right: 20px;
    */
}

.nav-content .nav-links{
  display: flex;
}

.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

 .nav-links li a:hover{
   color: #00aad2;
 }

.content {
  padding: 75px;
}
