{% extends 'Nav.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href='{% static "css/pass_change.css" %}'>

        <div class="main">
        <h1>Change Password</h1>
        <form id="id_password_change_form" method="POST">
            {% csrf_token %}
            <label for="Old">
                  Old Password:
              </label>
            <input type="password"
                   id="id_old_password"
                   name="old_password"
                   required="true">
 
            <label for="New">
                  New Password:
              </label>
            <input type="password"
                   id="id_new_password1"
                   name="new_password1"
                   required="true">

            <label for="New2">
                  Confirm password:
              </label>
            <input type="password"
                   id="id_new_password2"
                   name="new_password2" 
                   required="true">
 
            <div class="wrap">
                <button type="submit">
                    Change
                </button>
            </div>
        </form>
        <p>
            {% for field in form %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            {% endfor %}
        </p>
    </div>

{% endblock %}






