<!DOCTYPE html>

{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <title>Plant Audit</title>
      <link rel="stylesheet" href="{% static "css/nav.css" %}">
   </head>
<body>

  <nav>
    <div class="nav-content">
      <div class="logo">
        <a>HYUNDAI</a>
      </div>
      <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Red Flag</a></li>
        <li><a href="#">Automation</a></li>
        <li><a href="#">Learn</a></li>
        {% if user.is_superuser %}
        <li><a href="#">Users</a></li>
        <li><a href="#">Task</a></li>
        {% endif %}
        <li><a href="{% url 'password' %}">Change Password</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  </nav>
  <section class="home"></section>
    {% block content %}
    {% endblock %}
</body>
  
  <script>
  let nav = document.querySelector("nav");
    window.onscroll = function() {
      if(document.documentElement.scrollTop > 20){
        nav.classList.add("sticky");
      }else {
        nav.classList.remove("sticky");
      }
    }
  </script>

</html>